.despesas{
    width: 90%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
}

legend{
    text-transform: capitalize;
    color: #FFD700;
    text-decoration: none;
    font-size: 16px ;
    font-weight: bold;
}

section{
    width: 80%;
    align-self: center;
    display: flex;
    flex-direction: column;
    
}
form{
    display: flex;
    flex-wrap: wrap;
    
}

.conjunto{
    flex-grow: 1;
    margin: 1%;
    
}

legend{
    align-items: flex-start;
}

input,select, textarea{
    
    width: 100%;
    border: 3px solid  #0AB3F7;
    border-radius: 20px;
    margin: 8px 0px;
    color:#0AB3F7 ;
}


input, select{
    
    height: 50px;
    
    text-align-last: center;
    font-size: 20px;
    
    
}

#teste{
    height: auto;
}

option{
    align-items: center;
    font-size: 20px;
    color:#0AB3F7 ;
}
textarea{
    height: 70%;
    padding: 9px;
    
}


button{
    align-self: center;
    margin-top: 40px;
    width: 30%;
    background: #0AB3F7;
    padding: 22px;
    border-radius: 50px;
    text-transform: capitalize;  
}



@media (max-width: 750px){
    section{
        width: 80%;
    }
    .despesas{
        margin: 20% auto;
        align-self: center;
    }

    legend{
        text-align: center;
    }
}