main{
    width: 80%;
    align-items: center;
}


th, td{
    padding: 8px;
    border: 1.5px solid #0AB3F7;
    text-transform: capitalize;   
    color: #0AB3F7;
    font-weight: 550;
}

th{
    font-size: 22px;
    font-weight: bold;
}

td{
    font-size: 18px;
}

.emprestimo{
    background: #f7ec233d;
}
.despesa{
    background: #f7234d2c;
}