html,body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial;
}
.menu{
    
    display: flex;
    background: #0AB3F7;
    height: 100px;
    text-transform: capitalize;  
    
}

.menu-nomes{
    display: flex;
    width: 100%;
    justify-content: space-between;
  
}
.sub-menu-op,.sub-menu-cadastro{
    display: flex;
    align-items: center;
    
}

.am, p,button, span{
    text-transform: capitalize;
    color: #FFD700;
    text-decoration: none;
    font-size: 24px ;
    font-weight: bold;
    padding: 0px 24px;
}

.teste:hover{
    color: #0AB3F7;
    padding: 38px 18px;
    background:#FFD700 ;
}

main{
    height: 100%;
    border: 3px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}



main > div{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 40%;
    height: 10%;
    border: 3px solid  #0AB3F7;
    border-radius: 20px;
    margin: 15px 0px;

}


button{
    margin-top: 50px;
    width: 30%;
    background: #0AB3F7;
    border: none;
    padding: 22px;
    border-radius: 50px;
    text-transform: capitalize;  
}

.receitas{
    color: green;
}
.contas{
    color:red;
}


footer{
    display: flex;
    height: 100px;
    background: #0AB3F7;
    align-items: center;
    justify-content: center;
}



@media (max-width: 900px){
    a,p,button{
        font-size: 16px;
    }
}


@media (max-width: 750px){
    img{
        width: 100px;
        align-self: center;
    }
   
    .menu{

        flex-direction: column;
    }
    .menu-nomes{
        height: 100%;
        background: #0AB3F7;
        flex-direction: column;
    }
    .sub-menu-op, .sub-menu-cadastro{
        justify-content: space-between;
    }

    .am,p,button{
        font-size: 14px;
        padding: 10px 5px;
    }

    a:hover{
        color: #0AB3F7;
        padding: 10px 5px;
        background:#FFD700 ;
    }
}
